<mat-toolbar>
  <span><img src="../../../assets/Logo.jpeg" alt="" height="40" width="40" style="border-radius: 98px;"></span>

  <span style="flex:auto"></span>
  <div class="d-flex align-items-center justify-content-center">
    <span class="m-3">Home</span>
    <span class="m-3">About</span>
    <span class="m-3">Services</span>
    <span class="m-3">Blog</span>
    <span class="m-3">Courses</span>
   <button class="btn btn-primary m-3" style="border-radius: 98px; padding-left: 16px; padding-right:16px;">LogIn/SignUp</button>
  </div>
  <span class="mr-5 pr-5"></span>
  <span class="mr-5 pr-5"></span>
  <span class="mr-5 pr-5"></span>
  <span class="mr-5 pr-5"></span>
</mat-toolbar>
