<mat-toolbar>
  <span><img src="../../../assets/Logo.jpeg" alt="" height="40" width="40" style="border-radius: 98px;"></span>

  <span style="flex:auto"></span>
  <div class="d-flex align-items-center justify-content-center">
    <ul class="header-nav">
      <li  [routerLinkActive]="['link-active']"  [routerLinkActiveOptions]="{ exact: true }">
        <a class="m-3 home"  routerLink="/page/home">Home</a>
      </li>
      <li [routerLinkActive]="['link-active']">
        <a class="m-3 home" routerLink="/page/about">About</a>
      </li>
      <li [routerLinkActive]="['link-active']">
        <a class="m-3 home">Services</a>
      </li>
      <li [routerLinkActive]="['link-active']">
        <a class="m-3 home">Blog</a>
      </li>
      <li [routerLinkActive]="['link-active']">
        <a class="m-3 home">Courses</a>
      </li>
    </ul>
   <button class="btn btn-primary m-3" style="border-radius: 98px; padding-left: 16px; padding-right:16px;">LogIn/SignUp</button>
  </div>
  <span class="mr-5 pr-5"></span>
  <span class="mr-5 pr-5"></span>
  <span class="mr-5 pr-5"></span>
  <span class="mr-5 pr-5"></span>
</mat-toolbar>
